@import 'nprogress/nprogress.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
    background: #353535;
    height: 4px;
  }
  
#nprogress .peg {
box-shadow: 0 0 10px #353535, 0 0 5px #353535;
}

@layer utilities {
  .hover-pause:hover {
    animation-play-state: paused;
  }
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
}